
.pageHead {
  position: relative;
}

.dropboxBox {
	position: absolute;
	left: 20px;
}

.switchBox {
  position: absolute;
  right: 50px;
  top: 35px;
}

.infoBox {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  font-size: small;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#dropbox {
  border: 1px dashed #0F73BD;
  border-radius: 20px;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  /*background: #0F73BD;*/
  /*opacity: 0.8;*/
}

#dropbox.highlight {
  background: #0F73BD;
  opacity: 0.5;
  /*background: green;*/
  /*border-color: red;*/
}

.dbText {
  font-family: Arial, Helvetica, sans-serif;
}
